*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url('./34-asana-color-gradient.webp');
    background-size:cover ;
    background-position: center;
}
.main {
    background: rgba(10, 10, 10, .35);
    width: 100%;
    max-width: 800px;
    padding: 30px 40px;
    border-radius: 1rem;
}
.title {
    position: relative;
    font-size:30px ;
    font-weight: 700;
   margin-bottom: 10px;
   justify-content: center;
}

form .main-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 8px 0;
}
form .main-box .input-box {
    width: calc(100% / 2 - 15px);
    margin: 15px 0;
}
form .main-box .input-box input {
    width: 100% ;
    height: 50px;
    background: rgba(255,255, 255, .1);
    color: #faf9f6;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgba(255,255, 255, .09) ;
    padding-left: 17px;
    font-size: 1rem;
    transition: all .40s ease;
}
form .main-box .input-box .text {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}
form .main-box .input-box input:focus,
form .main-box .input-box input:valid, {
    border-color: #faf9f6;
}
form .container .gender {
    font-size: 22px;
    font-weight: 500;
    color: black;

}
form .container .category {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 10px 0;
}
form .container label {
    display: flex;
    align-items: center;
}
form .container .circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: rgb(209, 139, 47);
    margin-right: 8px;
    border: 4px solid transparent;
}
#circle-1:checked ~ .category label .one,
#circle-2:checked ~ .category label .two,
#circle-3:checked ~ .category label .three {
    border-color : #faf9f6;
}
form input [type="radio"]{
    display: none;
}
form .btn {
    height: 50px;
    margin: 20px 0;
}
form .btn input {
    height: 100%;
    width: 100%;
    outline: none;
    background-color: rgb(209, 139, 47);
    color: black;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all  ease;
}
form .btn input :hover {
    background:rgb(163, 72, 121);
}








